// ========== Icon Button   ========== //

.icon-button {
  will-change: box-shadow, background;
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent;
  color: var(--md-sys-color-on-background);
  fill: currentColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    pointer-events: none;
    content: ' ';
    background-color: var(--md-sys-color-on-background);
    border-radius: 50%;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
    will-change: opacity;
  }

  &::before {
    border-radius: inherit;
    transition-duration: 300ms;
    transition-property: transform, opacity;
    transform: scale(0);
    will-change: transform, opacity;
  }

  &::after {
    transition-duration: 85ms;
  }

  &--active::before,
  &:hover::before,
  &:active::before,
  &:focus::before {
    opacity: 0.06;
    transform: none;
  }

  &:active::after {
    opacity: 0.06;
  }

  // Child
  &__icon {
    color: inherit;
    vertical-align: top;
    user-select: none;

    &--on {
      display: none;
    }
  }

  &--filled:not(:disabled) {
    background-color: var(--md-sys-color-on-background);
    color: var(--md-sys-color-background);

    &::before,
    &::after {
      background-color: var(--md-sys-color-background);
    }
  }

  // Modifiers
  &--on {
    .icon-button__icon {
      display: none;
    }

    .icon-button__icon--on {
      display: inline-block;
    }
  }

  // button variants
  $component: map-get($components, 'icon-button');

  @if $component {
    $variants: map-get($component, 'variants');

    @each $variant in $variants {
      &--#{$variant} {
        @include icon-button-variant($variant);
      }
    }
  }

  &[disabled] {
    color: var(--md-sys-color-on-disabled);
    background-color: var(--md-sys-color-disabled);
    pointer-events: none;
    cursor: default;

    &::after,
    &::before {
      display: none;
    }
  }
}
