// ==========  Utilities  ========== //

$allowed-state: ("active", "checked", "disabled", "even-child", "first-child", "focus", "focus-within", "focus-visible", "group-hover", "group-focus", "hover", "last-child", "odd-child", "visited");

@function responsive-flag($config, $name, $breakpoints) {
  $flag: "";

  @if $config == true {
    @return true;
  }

  @if breakpoint-min($name, $breakpoints) != null {
    $flag: $name;
  }

  @if $flag == "" {
    @return true;
  } @else if($config == false) {
    @return false;
  }

  @return if(
    map-get($config, $flag) == null,
    false,
    map-get($config, $flag) == true
  );
}

@function state-flag($state) {
  @return if($state, index($allowed-state, $state) != null, false);
}

@function array-to-string($arr) {
  $str: null;

  @each $value in $arr {
    @if $str == null {
      $str: $value
    }

    @else {
      $str: $str + ", " + $value
    }
  }

  @return $str;
}

@function get-value-by-type($arr, $type) {
  @if $type == Array {
    @return array-to-string($arr);
  }

  @else {
    @return $arr;
  }
}

@mixin build-utility($infix, $property, $values, $class, $type) {
  @each $name, $value in $values {
    .#{$infix}#{$class}-#{$name} {
      #{$property}: get-value-by-type($value, $type);
    }
  }
}

@mixin build-utility-state($infix, $property, $values, $class, $type, $states) {
  @each $state in $states {
    $is-valid-state: state-flag($state);

    @if $is-valid-state {
      @each $name, $value in $values {
        .#{$infix}#{$class}-#{$name}\:#{$state}:#{$state} {
          #{$property}: get-value-by-type($value, $type);
        }
      }
    }
  }
}

@mixin utility($values, $property, $class, $responsive: false, $type: String, $states: false) {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      $responsive-flag: responsive-flag(
        $responsive,
        $breakpoint,
        $grid-breakpoints
      );

      @if $responsive-flag {
        @include build-utility($infix, $property, $values, $class, $type);

        @if $states {
          @include build-utility-state($infix, $property, $values, $class, $type, $states);
        }

      }
    }
  }
}

// Layout
@import "container";

// Other configuration based utility classes
@each $key in map-keys($utilities) {
  $utility: map-get($utilities, $key);

  @if $utility {
    $responsive: map-get($utility, "responsive");
    $values: map-get($utility, "values");
    $class: map-get($utility, "class");
    $states: map-get($utility, "states");
    $type: map-get($utility, "type");

    @include utility($values, $key, $class, $responsive, $type, $states);
  }
}
