// ==========  Functions  ========== //

// Animation
@function material-animation-enter($name, $duration, $delay: 0ms) {
  @return $name $duration $delay var(--animation-curve-linear-out-slow-in);
}

@function material-animation-exit-permanent($name, $duration, $delay: 0ms) {
  @return $name $duration $delay var(--animation-curve-fast-out-linear-in);
}

@function material-animation-exit-temporary($name, $duration, $delay: 0ms) {
  @return $name $duration $delay var(--animation-curve-sharp);
}

@function material-animation-standard($name, $duration, $delay: 0ms) {
  @return $name $duration $delay var(--animation-curve-fast-out-slow-in);
}

// Container
@function get-negative($value) {
  @if $value == 0 {
    @return $value;
  }

  @if $value == '0px' {
    @return $value;
  }

  @return -$value;
}

// helper function
@function convert-empty-list-to-map($source) {
  @if (type-of($source) == list and length($source) == 0) {
    @return map-remove(
      (
        x: x,
      ),
      x
    );
  }

  @return $source;
}

// recursive map function
@function recursive-map-merge($source1, $source2) {
  @if (
      type-of($source1) ==
        map or
        (type-of($source1) == list and length($source1) == 0)
    ) and
    (
      type-of($source2) ==
        map or
        (type-of($source2) == list and length($source2) == 0)
    )
  {
    // Check both maps and convert to [map] when empty
    $map1: convert-empty-list-to-map($source1);
    $map2: convert-empty-list-to-map($source2);

    $result: $map1;

    @each $key, $value in $map2 {
      // Check both childs and convert to map when empty
      $map1-child: convert-empty-list-to-map(map-get($map1, $key));
      $map2-child: convert-empty-list-to-map($value);

      @if (type-of($map1-child) == map and type-of($map2-child) == map) {
        $result: map-merge(
          $result,
          (
            $key: recursive-map-merge($map1-child, $map2-child),
          )
        );
      } @else {
        $result: map-merge(
          $result,
          (
            $key: $value,
          )
        );
      }
    }

    @return $result;
  } @else {
    @warn "recursive-map-merge() expects it\'s parameters to be map types!";

    @return null;
  }
}

// return css color variable with different opacity value
@function alpha-color($key, $opacity) {
  $color: map-get($base, 'color');
  $color: map-get($color, 'values');
  $color: map-get($color, $key);

  @return rgba($color, $opacity);
}

// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}
