
@font-face {
  font-family: 'Basier Circle';
  src: url('static/fonts/BasierCircle-Regular.woff2') format('woff2'),
  url('static/fonts/BasierCircle-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Basier Circle';
  src: url('static/fonts/BasierCircle-SemiBold.woff2') format('woff2'),
  url('static/fonts/BasierCircle-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('static/fonts/BasierCircle-Bold.woff2') format('woff2'),
  url('static/fonts/BasierCircle-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finger Paint';
  src: url('static/fonts/FingerPaint-Regular.woff2') format('woff2'),
  url('static/fonts/FingerPaint-Regular.woff') format('woff'),
  url('static/fonts/FingerPaint-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
